{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br>
    <h1 style="color:white">SpamHam Spam Burster......</h1>
    <div class="jumbotron xs-4" style="padding-top: 10px;box-shadow: 4px 4px 4px 4px black;" >
        <h2>What is Spam-Burster, what does it do?</h2>
        <div><p>Unsolicited messages which we did not ask for from a source is what we call <b><a
                href="https://blog.barracuda.com/2013/10/03/ham-v-spam-whats-the-difference/">SPAM</a></b>.<br> Messages
            which are the desired ones and are not spam are known as <b><a
                    href="https://blog.barracuda.com/2013/10/03/ham-v-spam-whats-the-difference/">HAM</a></b>.

            <p>This web app is powered with ML, NLP which identifies whether the message is a spam or not.</p>
            <p><b>Write or paste a message/email in the text box below to find out is it a spam or not?</b></p></div>
        <form method="post">
            {#    	<input type="text" class="" name="message" placeholder="Write your message here..." required="required" />#}
            <textarea class="btn-block" name="message" placeholder="Write here... eg; Hello, how are you? "
                      required="required"></textarea>
            <br>
            <button type="submit" onclick="scrollDown()" class="btn btn-danger btn-block btn-large"> is it a Spam? Check
                me out!
            </button>
            {% csrf_token %}
        </form>
    </div>

    <br><br>
    <div id="scroll">
        <p style="font-size:20px;font-weight:bold;letter-spacing:2px;"> RESULT-</p>
        {% if result %}
            {#    <script> gotoBottom("result") </script>#}


            <div class="jumbotron" style="padding-top: 10px;box-shadow: 4px 4px 4px 4px black;" id="result">
                <script>scrollDown();</script>

                <div> You entered <br> "{{ message }}" <br></div>
                <p>which is <strong style="font-size: larger">{{ result }}</strong>!</p> <br>
                <p>Test accuracy: {{ accuracy }}%</p>
                <p> Under the hood: Naive Bayes, with NLP(BOW, TF-IDF)</p>
            </div>
            <script>scrollDown();</script>


        {% else %}
            <p></p>
        {% endif %}

       
            {% if result %}
                <script>scrollDown();</script>

            {% endif %}
        </div>
    </div>

    {#    <script>scrollDown();</script>#}

<div class="jumbotron sm-4" style="padding-top: 10px;box-shadow: 4px 4px 4px 4px black;width: 84%;
    margin-left: 108px;" >


                <div> Submitted By-Spam-Buster Team <br>
                    <br><br>
                    Saumya Chauhan (18245) <br>Saurabh Upadhyay(18246) <br>Shailja (18247) <br>
                Shilpi Gupta (18248) <br>
                </div>

            </div>
{% endblock %}
